body {
	font-family: sans-serif;
}

.title{
	background-color: red;
	text-align: center;
	padding: 20px;
	border-radius: 10px;
}

.all{
	background-color: grey;
	border: 2px solid black;
	border-radius: 10px;
	text-align: center;

}

img{
	border-radius: 10px;
	height: 200px;
	width: 200px;
	margin-bottom: 50px;
}